* {
  padding: 0;
  margin: 0;
}
body {
  width: 1200px;
  height: 1690px;
  font-family: Arial;
  /*
  .border(@very-light-gray);
  */
  margin: auto auto auto auto;
  background: #f9f9f9;
}
.header-left-side {
  width: 390px;
  height: auto;
  float: left;
}
.header-main-center {
  width: 580px;
  height: auto;
  float: left;
}
.header-right-side {
  width: 230px;
  height: auto;
  float: right;
}
.main-menu a {
  color: #595959;
  font-size: 12px;
  text-decoration: none;
  padding: 0 15px 0 12px;
  border-right: 1px solid #dadada;
}
.main-menu a:hover {
  color: #e31837;
  font-size: 12px;
  text-decoration: underline;
}
.main-menu li:last-child a {
  border-right: 1px solid transparent;
}
.main-menu ul {
  list-style: none;
  margin: 10px auto auto auto;
}
.main-menu li {
  display: inline-block;
}
.header-left-side .logo {
  width: 200px;
  height: 50px;
  background: url(../img/sprite.png) -4px -4px no-repeat;
  margin-top: 30px;
}
.header-left-side .allo-phone {
  width: 155px;
  height: 25px;
  float: right;
  margin-top: -26px;
  margin-right: 9px;
}
.header-left-side .allo-phone .phone {
  font-weight: bold;
  color: #595959;
  font-size: 18px;
}
.header-left-side .allo-phone .icon-phone {
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) -1px -51px no-repeat;
  float: left;
  margin-top: -3px;
}
.header-left-side .allo-phone .phone-arrow {
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) -17px -51px no-repeat;
  float: right;
  margin-top: -24px;
}
.header-main-center .search {
  margin-top: 20px;
  margin-left: 34px;
  float: left;
  width: 470px;
  height: 30px;
}
.header-main-center .search input[placeholder] {
  font-style: italic;
  color: #9b9b9b;
  font-size: 14px;
}
.header-main-center .search :focus::-webkit-input-placeholder {
  color: transparent;
}
.header-main-center .search input[type="text"] {
  width: 390px;
  height: auto;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 5px 5px 7px 6px;
  float: left;
}
.header-main-center .search input[type="text"]:focus {
  outline: none;
}
.header-main-center .search .red1 span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) -32px -51px no-repeat;
  margin: -7px auto auto -6px;
}
.header-main-center .search .red2 span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) -52px -51px no-repeat;
  margin: 11px auto auto -18px;
}
.header-main-center .search .btn {
  background: #e31837;
  text-decoration: none;
  border-radius: 3px;
  float: right;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 12px;
}
.header-right-side .main-menu {
  float: right;
  margin-right: -10px;
}
.header-right-side .main-menu a {
  padding: 0px 9px 0px 7px;
}
.header-right-side .main-menu a:nth-child(2) {
  padding-right: 0;
}
.basket {
  width: 155px;
  height: 30px;
  float: right;
  margin-top: 28px;
}
.basket span {
  color: #595959;
  font-size: 12px;
  float: right;
  font-weight: bold;
}
.basket .icon-basket {
  width: 32px;
  height: 27px;
  background: url(../img/sprite.png) -73px -55px no-repeat;
  float: left;
  margin-top: -4px;
}
.mega-menu {
  float: left;
  margin-left: -2px;
  margin-top: 18px;
  background: #ffffff;
}
.mega-menu a {
  color: #595959;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 23px 5px 23px;
  border-right: 1px solid #dadada;
  font-weight: bold;
}
.mega-menu ul {
  list-style: none;
  border: 1px solid #dadada;
  padding: 8px 0px 10px 0px;
  width: 1200px;
}
.mega-menu li {
  display: inline-block;
}
.mega-menu li:last-child a {
  color: #e31837;
  border-right: 1px solid transparent;
}
