@import url("../import/color.less");
@import url("../import/mixins.less");

main{
  .width-height(1200px; 1490px);
  margin-left: -2px;
  background: @white;
  .float();
  .border(lighten(@very-light-gray, 7%));
}
.smart{
  padding: 14px 10px;
  span{
    .color-size(@very-dark-grey; 24px);
  }
}

.catalog{
  margin-left: 255px;
  margin-top: 60px;
  .width-height(196px; 225px);
  padding: 20px 15px 15px 15px;
}
 a.photo-mobile{
  .width-height(75px; 125px);
  margin: auto;
  margin-left: 5px;
}
.over{
  a.mobile{
    .color-size(@dark-blue; 13px);
    text-decoration: none;
    .float();
    margin-top: 7px;
    line-height: 1.3;
  }
  a.mobile:hover{
    text-decoration: underline;
    .color(@dark-blue2);
  }
  .product {
    .float();
    .width-height(200px; 24px;);
    .code {
    .color-size(@dark-grey; 11px);
    .float();
    margin-top: 12px;
  }
    .delivery{
      .width-height(24px;20px);
      .float(right);
      background: url(../img/sprite.png) -30px -95px no-repeat;
      margin-top: 7px;
      margin-left: 2px;
    }
    .home{
      .width-height(24px;20px);
      .float(right);
      background: url(../img/sprite.png) -7px -95px no-repeat;
      margin-top: 7px;
      margin-left: 6px;
    }
  }
  .recalls {
    margin-top: 11px;
    .width-height(175px; 15px);
    .float();
    .stars {
      .width-height(75px; 15px);
      .float();
      background: url(../img/sprite.png) -5px -76px no-repeat;
    }
    .recall a{
      .color-size(@dark-blue;11px);
      .text-decoration();
    }
    .recall a:hover{
      .text-decoration(underline);
      .color(darken(@dark-blue, 20%));
    }
  }

  .old-price{
    text-decoration: line-through;
    .color-size();
    .float();
    margin-top: 7px;
    margin-left: 1px;
  }
  .price{
    .width-height(60px; 20px);
    margin-top: 20px;
  ;
    .number{
      .color-size(@vivid-red;18px);
      font-weight: bold;
    }
    .grn{
      .color-size(@vivid-red;14px);
    }
  }
  .buy a{
    background: @vivid-red;
    .text-decoration();
    .rounded(3px);
    .float(right);
    padding: 8px 17px;
    .color-size(@white);
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
  }
  .buy a:hover{
    background: lighten(@vivid-red, 15%);
  }
}

.compare{
  margin-top: 110px;
  .box{
    .width-height(19px; 19px);
    background:url(../img/check.jpg) left 1px no-repeat ;
    .float();
    margin-top: 18px;
    margin-right: 5px;
  }
  a{
    .color-size(@dark-blue; 12px);
    text-decoration: none;
    border-bottom: 1px dashed @dark-blue;
    .float();
    margin-top: 20px;
  }
  a:hover{
    .color(darken(@dark-blue, 20%));
  }
}
.about-phone{
  background: @white;
  border-top: 1px-solid @grey94;
  margin-top: 155px;
  padding-top: 9px;
  line-height: 0.9;
  letter-spacing: 0;
  .about1,.about2{
    .color-size(@black; 12px);
    text-align: left;
  }
  .about2{
    .color-size();
    margin-left: -3px;
  }
}

.over{
  position:relative;
  .width-height(196px; 280px);
  border: none;
}
.over:hover .under{
  display:block;
  position:absolute;
  top: 155px;
}
.under{
  top: 155px;
  display:none;
  z-index: 9999;
}

main ul{
  list-style: none;
  z-index: -10;
}

main li{
  position: relative;
}






